<div class='container'>
	<div class='page-header row'>
		<h1 id='meet'>Meet Our Team</h1>
	</div>

	
		<div class='col-md-4 profile'>
			<h3>Chris Carlson</h3>
			<img class='profile-pic' src="<%= asset_path( 'chris.jpg' ) %>"  />
			<p class='profile-content'>Whether it's playing music or writing code, I am always creating. A drummer turned web dev, I feel that my musical background gives me a unique perspective on the tech industry. I love collaboration and creating as a team. Technologies I have experience with include Javascript, HTML, CSS, Node, Sequelize, Ruby, and SQL</br> 

			When I'm not coding you can find me playing music, enjoying the outdoors, or gaming</br>
			<a href='https://github.com/thecodingcarlson'><i class="fa fa-github fa-2x"></i></a>
			<a href='https://www.linkedin.com/in/thecodingcarlson'><i class="fa fa-linkedin-square fa-2x"></i></a>
			</p>

		</div>

		<div class='col-md-4 profile'>
			<h3>Sam French</h3>
			<img class='profile-pic' src="<%= asset_path( 'sam.jpg' ) %>" />
			<p class='profile-content'>
			I am a Seattle-based web developer who works in full-stack and back-end applications. I want to combine my analytical skills and creativity in order to solve problems. I am always listening to music and going to shows. I hope Concrt will be the perfect tool for finding concerts and sharing them with friends.</br>

			In my free time, I also enjoy hiking, rock climbing, and biking.</br>
			
			<a href='https://github.com/samofrench'><i class="fa fa-github fa-2x"></i></a>
			<a href='https://www.linkedin.com/in/sam-french-85076083'><i class="fa fa-linkedin-square fa-2x"></i></a>
			</p>
		</div>

		<div class='col-md-4 profile'>
			<h3>Beth Ernsberger</h3>
			<img class='profile-pic' src="<%= asset_path( 'beth.jpg' ) %>" />
			<p class='profile-content'>
			I’m a full-stack website developer who thrives on creative collaboration, learning about and creating websites with the latest technologies, and designing intuitive front-end functionality. My natural tendency for efficient organization (just call me "spreadsheet queen") led to my first enjoying database management and now lends itself well to creating efficiently coded and organized websites.</br> 

			When I'm not in front of my computer, you might find me hiking/snowshoeing the trails around Seattle, at Wednesday trivia night with my friends, or East Coast Swing dancing at the Century Ballroom.</br>
			<a href='https://github.com/bethburger42'><i class="fa fa-github fa-2x"></i></a>
			<a href='https://www.linkedin.com/in/marybethernsberger'><i class="fa fa-linkedin-square fa-2x"></i></a>
			</p>
		</div>
</div>