<div id='panel-container'>
	<section data-panel="first" class="first">
		<div class='s-div'>
			<div class='f-content'>
				<h1>Welcome to Concrt</h1>
				<h2>A place to find and discover local music</h2>
				<h3>scroll down to learn more</h3>
				<i class="fa fa-arrow-down fa-2x animated infinite pulse"></i>
			</div>
		</div>
	</section>

	<section data-panel="second" class="second">
		<div class='s-div'>
			<div class='s-content'>
				<h1>Discover Local Music</h1>
				<h2>Search and discover local shows near you.<br>
					Tap into your cities rich musical scene</h2>
					<i class="fa fa-arrow-down fa-2x animated infinite pulse"></i>
			</div>
		</div>
	</section>

	<section data-panel="third" class="third">
		<div class='s-div'>
			<div class='s-content'>
			<h1>Meet Up With Friends</h1>
			<h2>Follow your friends and see what shows<br>
			they are going to. Create a calendar and<br>
			share your show with others.</h2>
			<i class="fa fa-arrow-down fa-2x animated infinite pulse"></i>
			</div>
		</div>
	</section>

	<section data-panel="fourth" class="fourth">
		<div class='s-div'>
			<div class='t-content'>
				<h1>What Are You Waiting For?</h1>
				<h2>Sign up now and start seeing live music!</h2>
				<a><%= link_to 'Login', '#login', 'data-toggle' => 'modal', 'data-target' => '#login', class: 'btn btn-default btn-lg wb', id: 'wb-1'%></a>
				<a><%= link_to 'Sign-Up', '#signup', 'data-toggle' => 'modal', 'data-target' => '#signup', class: 'btn btn-default btn-lg wb', id: 'wb-2'%></a>
			</div>
		</div>
	</section>
	<div class='footer'>
		<h3><%= link_to 'About Us', about_path %></h3>
		<a href='https://github.com/TheCodingCarlson/concrt'><i class="fa fa-github fa-2x"></i></a>
	</div>
</div>

