<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class='m-div'>
	    	<h1>Edit Your Profile</h1>
						<%= bootstrap_form_for edit_user_path(@user), @user do |u| %>
					  <%= u.text_field :name %>
					  <%= u.primary %>
					  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<% end %>
			</div>
    </div>
  </div>
</div>

