<div class="modal custom fade" id="event_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
    	<div class='m-div'>
	    	<h1 class="event-artist"></h1>
				<p class="event-date"></p>
				<p class="event-location"></p>
			</div>
    </div>
  </div>
</div>