<h1>Restaurants Results Page</h1>

<div class="well" id="yelp-list">
<!-- Displays local restaurants from Yelp -->







<p><% data.businesses.forEach(function(business, index) { %>
  <%= index +1 %>. <a href="<%= business.url %>" target="_blank"> <%= business.name %></a> <br /><span><%= business.location.display_address %></span> <br />

<% });  %>
</p>


<p>Clicking on the links will open the business listing on <a href="http://www.yelp.com"><img src="images/yelp_logo_50x25.png" alt="Yelp"></a>.</p>
</div>