<h1>Concert Results Page</h1>
<p>This is where concerts are displayed</p>


<% @results["Events"].each do |e| %>
  <h3><%= e["Artists"].each do |a| %>
      <%= a["Name"] %>
    <% end %>
  </h3>
<% end %>