/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'user-calendar.css'
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */
 body {
 	background: black;
 	font-family: 'Muli', sans-serif;
 }
.btn {
  background-color: white;
  color: #ff9900;
  border: 2px solid #ff9900;
}
.btn:hover {
  background-color: #ff9900;
  color: white;
  border: 2px solid white;
}
.btn:active {
  outline: none;
  border: none;
}
.btn:focus {
  outline: none;
}
.navbar {
 	background-color: rgba(0, 0, 0, 0.4);
 	border-right: none;
 	border-left: none;
 	border-top: none;
  border-bottom: 2px solid white;
}

 #brand {
  color: #ff9900;
  font-weight: bold;
  font-size: 25px;
 }

 .nav-links {
  font-size: 15px;
  color: #ff9900;
 }
a {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  outline: none;
  border: none;
 }

a:focus {
  outline: none;
}

#panel-container {
  height:100%;
  width: 100%;
  position: absolute;
  overflow: scroll;
}
section {
  position: relative;
  overflow: hidden;
  padding: 50px;
  width: 100%;
  height: 100%;
}

.first {
  background-image: url('https://c1.staticflickr.com/9/8444/7832598478_26f2beaf10_b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.s-div {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
  width: 100%;
  padding-top: 60px;
  color: white;
  -webkit-text-stroke: 1px #ff9900;
  /* box-shadow: 5px 5px 5px rgba(245, 245, 245, 0.7);*/
}

.s-div h1 {
	font-size: 100px;
}

.s-div h3 {
	padding-top: 250px;
}

.second {
	background-color: #ff9900;
}
.s-content h2 {
  padding-top: 30px;
  padding-bottom: 175px;
  font-size: 35px;
}
.t-content h1 {
  font-size: 80px;
}
.third {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/88/HonorSociety_GramercyTheater_6_26_11.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.fourth {
	background-color: #ff9900;
}
#wb {
  margin-left: 5px;
  margin-top: 30px;
}
#wb:active {
  outline: none;
  border: none;
}
.modal-content {
  background-color: rgba(255, 153, 0, 0.8);
  color: white;
}
.m-div {
 padding: 20px;
}