#concert-search,
#datepicker label,
#zip-search label {
  color: #ff9900;
}
.search-bar {
  display: inline-block;
}

#datepicker_start_date,
#datepicker_end_date,
#zip {
  /*margin-top: 40px;*/
  background-color: transparent;
  color: white;
}

.well {
  background-color: rgba(245, 245, 245, 0.2);
}

.events-results {
  color: #ff9900;
}

.event-url a { 
  color: blue;
}

.white-text {
  color: white;
}
