.user {
	background-color: #ff9900;
	margin-right: 10px;
}
.user img {
	height: 75%;
	width: 100%;
	padding-top: 10px;
}
#network {
	color: #ff9900;
}
.nav>li>a {
	color: white;
}
.nav>li>a:hover {
	background-color: #ff9900;
}
#search-input {
	float: right;
}
