.user {
	background-color: #ff9900;
	margin-right: 10px;
}
.user img {
	height: 75%;
	width: 100%;
	padding-top: 10px;
}
#network {
	color: #ff9900;
}
.search-bar {
	display: inline-block;
}
small #u-link a:active, 
small #u-link a:visited { 
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
